main {
    max-width: 100%;
    height: 65vh;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: #000;
    background-image: url('../images/bg.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 8px;
    justify-content: center;
    align-items: center;
}


.login-card {
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    width: 100%;
    max-width: 600px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.login-card h1 {
    margin-bottom: 20px;
    color: #000;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #fff;
}

.form-group input {
    width: 80%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    box-sizing: border-box;
}

button {
    background-color: #000;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    font-size: 18px;
    cursor: pointer;
    width: 200px;
}

button:hover {
    background-color: #555;
}

.extra-options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    width: 80%;
    margin-left: 55px;
}

.extra-options input[type=checkbox]:checked {
    background-color: #000;
}

.extra-options a {
    text-decoration: none;
    color: #000;
}